body {
  font-family: sans-serif;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

button {
  font-weight: bold;
  font-size: 1em;
  border: none;
  color: white;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  padding: 5px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.filter > button {
  background-color: #62807e;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 10px 16px;
  margin: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.filter > button:hover {
  background-color: #4a665a;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  background: white;
  border: 1px solid #e1e5f0;
  max-width: 600px;
  min-width: 350px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  margin-top: 50px;
  margin-bottom: 50px;
}

.main::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: inherit;
}

header {
  background-color: #fff;
  color: #000;
  padding: 16px;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  position: relative;
}

.app-bar {
  display: flex;
  justify-content: space-between;
}

.app-bar h1 {
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  margin-right: 1em;
}

.task-form {
  display: flex;
  margin: 16px;
  justify-content: space-between;
}

.task-form > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  border-radius: 4px;
}

.task-form > input:focus {
  outline: 0;
  border-color: #315481;
}

.task-form > button {
  min-width: 100px;
  height: 38px;
  background-color: #315481;
  border: none;
  color: #fff;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
}

.task-form > button:hover {
  background-color: #253f60;
}

.tasks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tasks > li {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

.tasks > li > span {
  flex-grow: 1;
}

.tasks > li > button {
  justify-self: flex-end;
  background-color: #ff3046;
  margin-left: auto;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

.tasks > li > button:hover {
  background-color: #c82734;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.login-form > div > input:focus {
  outline: 0;
}

.login-form > div > button {
  background-color: #62807e;
}

.user {
  display: flex;
  align-self: center;
  margin: 8px 16px 0;
  font-weight: bold;
  font-size: 2.2em;
}

.user > span {
  margin-left: 8px;
}

.github-btn {
  border: 1px solid #e1e5f0;
  background-color: #fff;
  width: 245px;
  margin: 0 auto 16px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-btn > div {
  margin-left: 4px;
}

.loading {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.login-btn {
  background-color: #315481;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #253f60;
}
